<%- include('partials/header'); -%>


<h1>Compose</h1>

<form action="/compose" method="POST">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="postTitle" class="form-control" autocomplete="off">
    </div>
    <div class="form-group">
        <label for="post">Post</label>
        <textarea name="postBody" class="form-control" rows="5" cols="30"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" name="button">Publish</button>
</form>

<div >
    <img src="images/3.jpg" alt="" style="height: 320px; float: right;"></div>

<%- include('partials/footer'); -%>